<html>
  <head>
    <title><* page.title *></title>
  </head>
  <body>
    <h1>Teacher: <* teacher.name *></h1>
    <* EACH students student *>
      <h3><* student.name *></h3>
      <* EACH student.nicknames nickname *>
        <p><* nickname *></p>
      <* ENDEACH *>
    <* ENDEACH *>
  </body>
</html>
